<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonFastCGI"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="D:\ElinkJal_SWM\venv\Scripts\python.exe|D:\ElinkJal_SWM\venv\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>
  </system.webServer>

  <appSettings>
    <add key="WSGI_HANDLER" value="jal.wsgi.application" />
    <add key="DJANGO_SETTINGS_MODULE" value="jal.settings" />
    <add key="PYTHONPATH" value="D:\ElinkJal_SWM" />
    <add key="WSGI_LOG" value="D:\ElinkJal_SWM\wfastcgi.log" />
  </appSettings>
</configuration>